/*Services section*/
#services .service {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#services .service-top{
    max-width: 800px;
    margin: 30px auto;   
}

#services .service-top p {
    font-size: 1.4rem;
    margin-top: 5px;
    padding: 0px 30px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#services .service-bottom {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#services .service-item {
    position: relative;
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 38rem;
    margin: 10px 5px;
    padding: 30px;
    border-radius: 10px;
    background-image: url("../../../public/img/img-1.png");
    background-size: cover;
    color: white;
    z-index: 5;
    overflow: hidden;
}

.service-item > .icon {
    /* height: 50%; */
}

.service-item > .name-container {
    /* height: 50%; */
    text-align: left;
}

#services .service-item::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, rgb(0, 0, 0) 0%, rgb(43, 43, 43) 100%);
    opacity: .8;
    z-index: -1;
}

#services .service-bottom .icon {
    height: 65px;
    width:  65px;
    margin-bottom: 20px;
}

#services .service-bottom .icon img {
    height: 100%;
    width:  100%;
    object-fit: cover;
}

#services .service-item h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#services .service-item p {
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
/*End of services section*/